@media (max-width: 1024px) {
    .menu-item {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .about-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .side-img {
        width: 80%;
        display: none;
    }

    .center-content {
        width: 100%;
    }

    .nav-links {
        flex-wrap: wrap;
        gap: 10px;
    }

    .nav-link {
        font-size: 16px;
    }

    #home {
        background-attachment: scroll;
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }
    *{
        box-sizing: border-box;
    }
}

@media (max-width: 600px) {
    .menuItems {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        width: 90%;
    }
    .menu-image {
        height: 200px;
    }
}